body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff8f8f; /* Couleur de fond sombre */
    color: #ffffff; /* Couleur du texte clair */
}

header {
    background-color: #ff6161;
    color: white;
    text-align: center;
    padding: 1em;
    box-shadow: 0 0 10px rgba(88, 59, 59, 0.767);
}

section:not(.liste-trucs,.liste-cate) {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ff6161; /* Fond de section plus foncé */
    box-shadow: 0 0 10px rgba(88, 59, 59, 0.767); /* Ombre légère */
    color: #ffffff; /* Couleur du texte clair */
}

h2 {
    color: #ffffff; /* Couleur du texte clair */
}

p {
    line-height: 1.6;
    color: #ffc5c5; /* Couleur du texte gris clair */
}

ul{
    text-decoration: none;
    list-style: none;
}

ul :hover{
    color: aquamarine;
}

a{
    color: #ffc5c5;
    font-weight: bold;
    text-decoration: none;
}

.photo-crane{
    display: flex;
    justify-content: center;
}

.photo-crane img{
    max-width: 900px;
    max-height: 400px;
    box-shadow: 0 0 10px rgba(172, 33, 33, 0.886);
}

.lien-services {
    list-style: none; /* Enlève les points devant les éléments de la liste */
}

.contact a{
    color: #ffc5c5;
}

.truc-de-nav nav{
    border: 2px solid #ffc5c5;
}

.truc-de-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.truc-de-nav a{
    text-decoration: none;
}

.racourci nav{
    border: 2px solid #ffc5c5;
}

.racourci ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.racourci a{
    text-decoration: none;
}

.subheader p{
    color: #ffc5c5;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

/* Styles pour les téléphones */
@media only screen and (max-width: 600px) {
    .photo-crane img {
        max-width: 100%; /* La largeur maximale est de 100% de la largeur de l'écran */
        height: auto; /* La hauteur s'ajustera automatiquement pour maintenir les proportions de l'image */
    }
}
